/*
Table of Content:
fr = fractions
*/

body,
html,
.letter {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

nav {

}

.close-button {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	overflow: hidden;
}
.close-button > div {
	position: relative;
}
.close-button-block {
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: calc(55% - 4px);
	display: block;
	width: 4px;
	height: 25px;
	-webkit-transform-origin: bottom center;
					transform-origin: bottom center;
	background: black;
	transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
	-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
	transition-delay: 280ms;
	-webkit-transform: translateX(20px) translateY(-20px) rotate(45deg);
					transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
	transition-delay: 280ms;
	-webkit-transform: translateX(-22px) translateY(-22px) rotate(-45deg);
					transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
	position: absolute;
	top: 0;
	left: 0;
}
.close-button .out .close-button-block:before {
	-webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
					transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
	-webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
					transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
	-webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
					transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
	-webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
					transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
	-webkit-transform: translateX(-20px) translateY(20px) rotate(45deg);
					transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
	-webkit-transform: translateX(20px) translateY(20px) rotate(-45deg);
					transform: translateX(20px) translateY(20px) rotate(-45deg);
}

.container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: black;
  padding: 5px;
}

/* justify is horizontal
  align is vertical */

.item {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 70px;
  color: white;
  line-height: 1;
  font-weight: 600;
  transition: all .3s ease;
}



/* get elements to span multiple cells in the grid */

.item-a {
  background-color: lightblue;
  align-items: center;
  grid-column: span 4;
  grid-row: span 1;
}



.grace {
  grid-column: 1/4;
  width: 50%;
  height: auto;
}

.article {
  background-color: yellow;
  grid-column: span 2;
  grid-row: span 1;
}

.side {
  background-color: orange;
  grid-column: span 2;
  grid-row: span 1;
}

.footer {
  grid-column: span 4;
  grid-row: span 1;
}

/* responsive layout  changes based on screen size */

@media screen and (min-width: 500px) {
.container {
grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
.container {
grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
