body, html {
  background-color: white;
  margin: 0 auto;
}

.wrapper {
  margin: 0 90%;
  position: relative;
  
}

.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.close-button > div {
  position: relative;
}
.close-button-block {
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 25px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: black;
  transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
  transition-delay: 280ms;
  -webkit-transform: translateX(20px) translateY(-20px) rotate(45deg);
          transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
  transition-delay: 280ms;
  -webkit-transform: translateX(-22px) translateY(-22px) rotate(-45deg);
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
  position: absolute;
  top: 0;
  left: 0;
}
.close-button .out .close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
  -webkit-transform: translateX(-20px) translateY(20px) rotate(45deg);
          transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
  -webkit-transform: translateX(20px) translateY(20px) rotate(-45deg);
          transform: translateX(20px) translateY(20px) rotate(-45deg);
}

.container {
  display: grid;
  margin: 200px auto;
}

#logo {
  margin-bottom: -20px;
}

img {
  width: 130px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: -30px;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
  transform: rotate(360deg);}
}

h3 {
text-align: center;
font-family: Roboto;
margin: 35px auto;
}

h1 {
  text-align: center;
  font-size: 75px;
  font-family: Roboto;
}

h1 span{
  font-size: 77px;
}

.quote blockquote {
}

.quote-text{
  font-family: "Varela Round";
	font-weight: bold;
	font-size: 23px;
  text-align: center;
  margin-top: -5px;
}

.quote-author {
	font-family: Roboto;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

h2 {
  text-align: center;
  margin: 25px auto;
}

.button {
  background: black;
	border: 1px solid black;
	cursor: pointer;
	letter-spacing: 0.2125rem;
	overflow: hidden;
  margin: 20px auto;
	padding: 20px 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition:
		background 5s cubic-bezier(0, 1, 0.22, 1),
		border 1s cubic-bezier(0, 1, 0.22, 1),
		color 0.6s cubic-bezier(0, 1, 0.22, 1);
	user-select: none;
}

.button a {
	color: white;
	font-family: "Varela Round";
	text-decoration: none;
}

.button .mask {
	background-color: white;
	background-color: red;
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
}

.button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: black;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
}

.button:hover a {
	color: black;
}

.button:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:hover .shift {
	transform: translateX(5px);
}

.button:active {
	background-color: #fff;
}

.button:active a {
	color: yellow;
}

@media screen and (max-width: 1440px) {
  .container {
    margin: 0px;
  }
}
