body, html {
  background-color: white;
  margin: 0 auto;
}

.wrapper {
  margin: 0;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  top: 5px;
  overflow: hidden;
}
.close-button > div {
  position: relative;
}
.close-button-block {
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 25px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  background: black;
  transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
  transition-delay: 280ms;
  -webkit-transform: translateX(20px) translateY(-20px) rotate(45deg);
          transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
  transition-delay: 280ms;
  -webkit-transform: translateX(-22px) translateY(-22px) rotate(-45deg);
          transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
  position: absolute;
  top: 0;
  left: 0;
}
.close-button .out .close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
  -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
          transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
  -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
          transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
  -webkit-transform: translateX(-20px) translateY(20px) rotate(45deg);
          transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
  -webkit-transform: translateX(20px) translateY(20px) rotate(-45deg);
          transform: translateX(20px) translateY(20px) rotate(-45deg);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 200px;
  background: ;
}

.one {
  background: white;

}

.logo {
  width: 150px;
  height: 100px;
  display: block;
  margin: 0 auto;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
  transform: rotate(360deg);}
}

.one h3 {
text-align: center;
font-family: Roboto;
}

.one h1 {
  text-align: center;
  font-size: 95px;
  font-family: Roboto;
  margin-top: -5px;
}

.one h1 span{
  font-size: 97px;
}

.quote blockquote {
}

.quote-text{
  font-family: "Varela Round";
	font-weight: bold;
	font-size: 23px;
  text-align: center;
  margin-top: -35px;
}

.quote-author {
	font-family: Roboto;
	font-weight: bold;
	font-size: 12px;
	display: block;
}

h2 {
  text-align: center;
  margin: 25px auto;
}

/*begin button*/

button {
  display: flex;
  background: black;
	border: 1px solid black;
	cursor: pointer;
	letter-spacing: 0.2125rem;
	overflow: hidden;
  margin: 0 auto;
	padding: 20px 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition:
		background 5s cubic-bezier(0, 1, 0.22, 1),
		border 1s cubic-bezier(0, 1, 0.22, 1),
		color 0.6s cubic-bezier(0, 1, 0.22, 1);
	user-select: none;
}

button a {
	color: white;
	font-family: "Varela Round";
	text-decoration: none;
}

button .mask {
	background-color: white;
	background-color: red;
	height: 100px;
	position: absolute;
	transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
	width: 200px;
}

button .shift {
	display: inline-block;
	transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-color: black;
	box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
	transition: background 0s;
}

button:hover a {
	color: black;
}

button:hover .mask {
	background-color: #fff;
	transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

button:hover .shift {
	transform: translateX(5px);
}

button:active {
	background-color: #fff;
}

button:active a {
	color: #DA4453;
}

/*scroll button*/

.scroll a {
  margin-top: 70px;
  position: absolute;
  left: 48%;
  z-index: 2;
  display: flex;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll a:hover {
  opacity: .5;
}

#section01 a {
  padding-top: 90px;
  padding-right: 75px;
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid black;
  border-radius: 100%;
  box-sizing: border-box;
}
#section01 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.two {

}

.two header {
  font-size: 75px;
  font-weight: bold;
  text-align: right;
  margin-right: 160px;
}

.two p {
  text-align: right;
  font-size: 25px;
  font-weight: lighter;
  line-height: 2;
  letter-spacing: .1rem;
  padding: 0 160px;
}

.armbar {

}

.three {
  background: ;
}

.three h1 {
  font-size: 85px;
  text-align: center;
}

.three h3 {
  font-size: 12px;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-top: -50px;
  margin-left: 10px;
}

@media screen and (min-width: 1450px) {
  .container {
    margin: 0px;
    margin-top: 300px;
  }

  .two h1 {
    margin-right: 150px;
  }

  .two p {
    font-size: 35px;
    padding: 0 285px 0 0;
  }

  .armbar {
    width: 90%;
  }
}
